[data-component-id="yam:grid"] {
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  margin: 1rem var(--xs-gap);
  @media (min-width: 651px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    margin: 1rem var(--xl-gap);
    grid-template-columns: repeat(3, 1fr);
    &.grid--two {
      grid-template-columns: repeat(2, 1fr);
    }
    &.grid--three {
      grid-template-columns: repeat(3, 1fr);
    }
    &.grid--four {
      grid-template-columns: repeat(4, 1fr);
    }
    &.grid--five {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
