.meta {
  display: flex;
  margin: .625rem 0;
}

.meta--centered {
  max-width: var(--xl-width);
  margin: .75rem auto;
  justify-content: center;
}

.meta__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1.5rem;
  padding: 0 var(--xs-gap);
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

.meta--vertical .meta__list {
  flex-direction: column;
  padding: 0;
}

.meta__link {
  text-decoration: none;
}

@media (max-width: 1100px) {
  .meta--header {
    display: none;
    padding-top: 1rem;
    border-top: 1px solid var(--accent);
  }

  .meta--header .meta__list {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .meta--header .meta__item {
    font: var(--petit);
    padding: 10px 0;
  }
}
