{% set classes = [
  'throbber',
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="throbber__dot throbber__dot--one"></div>
  <div class="throbber__dot throbber__dot--two"></div>
  <div class="throbber__dot throbber__dot--three"></div>
</div>
