.card {
  padding: 1rem;
  border-radius: .625rem;
  color: var(--black);
  border: 1px solid var(--secondary-1);
  background-color: transparent;
  transition: background-color .25s;
}

.card:hover {
  background-color: var(--secondary-2);
}

.card__media img {
  width: 100%;
  border-radius: .5rem;
}

.card__headline {
  font: var(--grande);
  margin: 1.25rem 0 0;
}

.card__subline {
  font-size: 1rem;
  margin-top: .5rem;
}

.card__link {
  text-align: right;
  margin-top: 2.5rem;
}
