[data-component-id="yam:filter_form"] {
  margin: var(--xs-gap);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  @media (min-width: 1024px) {
    margin: 0.25rem var(--xl-gap);
  }
  & .filter-form--trigger {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    padding: 0.5em;
    background-color: var(--secondary-1);
  }
  & .filter-form--form {
    display: grid;
    gap: 1em;
    overflow: hidden;
    width: 100%;
    transition: grid-template-columns .3s ease-in-out;
    grid-template-columns: 0fr;
    &.is-active {
      grid-template-columns: 1fr;
      & .filter-form--inner > * {
        transform: translateX(0);
        opacity: 1;
      }
    }

    & .filter-form--inner {
      display: grid;
      overflow: hidden;
      width: 100%;
      align-items: center;
      gap: .5em;
      grid-template-areas:
        "a c"
        "b b";
      grid-template-columns: 2fr 1fr;
      @media (min-width: 1024px) {
        grid-template-areas: "a b c";
        grid-template-columns: 2fr 5fr 1fr;
        gap: 2em;
      }
      &>:nth-child(1) {
        grid-area: a;
      }
      &>:nth-child(2) {
        grid-area: b;
      }
      &>:nth-child(3) {
        grid-area: c;
      }
      & > * {
        transform: translateX(-100vw);
        opacity: 0;
        transition: all .3s ease-in-out;
      }
      & > * > * {
        width: 100%;
        background-color: var(--secondary-1);
        color: var(--accent);
      }
    }
  }

}
